@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
  position: relative;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;
}

button {
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  -webkit-padding-start: 0;
  margin: 0;
}
li {
  display: flex;
  align-items: center;
}

.ck.ck-editor__editable_inline {
  color: black;
}

a {
  cursor: pointer;
}
